@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="/about" class="about-link-animated">
                <span class="pompom-spin">🎀</span>
                THE SECRET ORIGIN STORY!
                <span class="pompom-spin">📣</span>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
